body {
	background-color: white;
	color: black;
	font-family: georgia;
}

h1 {
}

table {
}
.t1 {
	float: left;
	position: block;
	border:  black solid;
}

.t2 {
	float: left;
	position: block;
	border:  black solid;
	display: none;
}

td {
	text-transform: lowercase;
	font-size: 25px;
	border-color: green;
}

sup {
	padding: 0px;
	float: left;
}

input {
	color: black;
	border: 0px;
	width: 25px;
	font-size: 24px;
	text-align: center;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.issues {
	text-align: left;
	float: right;
	position: relative;
	font-size: 20px;
}

.td1 {
	border: 4px black solid;
	border-right: 0px;
}

.td2 {
	font-size: 24px;
	border: 4px black solid;
	border-left-width: 0px;
	border-right-width: 0px;
}

.td3 {
	border: 4px black solid;
	border-left: 0px;
}

.td4 {
	border: 0px;
}

.td5 {
	border: 4px black solid;
	border-bottom: 0px;
	border-top: 0px;
}

.td6 {
	border: 4px black solid;
	border-bottom-width: 4px;
	border-top: 0px;
}

.checkbutton {
	font-size: 20px;
	border: 0px;
	width: 125px;
	background-color: #D4D0C8;
}

.check2button {
	border: 0px;
	width: 210px;
	background-color: #D4D0C8;
	display: none;
	float: right;
}

.resetbutton {
	float: right;
	width: 125px;
	background-color: #D4D0C8;
}

.completebutton {
	font-size: 20px;
	background-color: green;
	color: white;
	display: none;
	width: 125px;
}

.mistakebutton {
	font-size: 20px;	
	background-color: red;
	color: black;
	display: none;
	width: 125px;
}

.marks {
	float: right;
	text-align: right;
}

.code {
	position: absolute;
	opacity: 0.3;
	color: gray;
	font-size: 12px;
	left: 100%;
}

.filled {
	margin-right: 5%;
	width: 270px;
	opacity: 0.7;
	float: right;
}

.back {
	margin-right: 5%;
	opacity: 0.7;
	display: none;
	float: right;
	width: 270px;
}

input::-webkit-input-placeholder {
color: black !important;
opacity: 1 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;
opacity: 1 !important;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
opacity: 1 !important;
}
 
input:-ms-input-placeholder {  
color: black !important;
opacity: 1 !important;
}