body {
	background-color: #1F2046;
	color: #C6CBF1;
	margin: 0px;
	font-family: Inconsolata;
	font-size: 30px;
}

div {
}

#issue {
	color: #2948BF;
	font-size: 20px;
	text-decoration: underline;
}

.main {
	margin: auto;
	max-width: 900px;
}

.lessons {
	font-size: 30px;
	font-family: Inconsolata;
	text-align: center;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.monday,.thuesday,.friday,.thuersday,.wednesday {
	margin: 5px 0px 5px 0px;
	border: 0px;
	font-size: 30px;
	color: #C6CBF1;
	width: 100%;
	text-align: center;
	height: 75px;
	max-width: 900px;
	letter-spacing: 1.5px;
	background-color: #272858;
}

.underline {
	text-decoration: underline;
}

.switch {
	max-width: 900px;
	background-color: #272858;
	text-align: center;
}

button {
	border: 0px;
	background-color: #272858;
}

.fas {
	font-size: 30px;
}

.right,.left {
	width: 100px;
	height: 30px;
}

.right {
	float: right;
}

.left {
	float: left;
}